APP_KEY=base64:gYfFUR9ul3Pt3nY77iVhZHLWx0MIROmC5Tc+6U5t9J0=

DB_CONNECTION=sqlite
DB_DATABASE=/var/www/database/database.sqlite

QUEUE_CONNECTION=redis
CACHE_DRIVER=redis

REDIS_HOST=redis
REDIS_PORT=6379

# Custom environment variables
VITE_API_URL=http://localhost:8000
EXTERNAL_API_URL=http://nginx
